flask
torch
transformers
onnx
onnxruntime
onnxruntime-tools
numpy
neural_compressor
prometheus-fastapi-instrumentator
prometheus-flask-exporter
fastapi
uvicorn
requests
numpy
pydantic
tritonclient[all]
tritonclient[http]
nvidia-pyindex
nltk 
rouge-score 
evaluate 
torch 
transformers
lime